<div class="container">
  <div class=" row text-center">
    <div class="col-md-10"> 
      <input type="text" [(ngModel)]="pokeSearch">
    </div>
    <div class="col-md-2"> 
      <button type="text" (click)='search()'></button>
    </div>
  </div>
  <div *ngFor="let pokemon of list" class="row">
    <div class="col-md-3">
      <a (click)="detail(pokemon)">
        <div class="card">
          <img [src]="pokemon.imageUrl" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <span class="card-subtitle">ID: {{ pokemon.id }}</span>
            <div *ngFor="let type of pokemon.types">
              <span class="card-subtitle">{{ type }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
